# Covertype Data Set

#### Predict forest cover type from cartographic variables (from maps). 

There are 7 types of forest cover and we must predict the type of forest cover given the features.

Independent variables were derived from data originally obtained from US Geological Survey (USGS) and USFS data. 

Data is in raw form (not scaled) and contains binary (0 or 1) columns of data for qualitative independent variables (wilderness areas and soil types).

There are:

    54 features:
    
    Categorical:

        4 wilderness areas
        
        40 soil types
    

Dataset shape - (581011, 55)

But now this server has been uploaded with only quarter of the file because of size constraints here. Please work with it, explore the data, features etc and do some analysis which might help in deciding which features to include and what model to use for prediction

###### Attribute Information:

Given is the attribute name, attribute type, the measurement unit and a brief description.


Name / Data Type / Measurement / Description:

    Elevation / quantitative /meters / Elevation in meters

    Aspect / quantitative / azimuth / Aspect in degrees azimuth

    Slope / quantitative / degrees / Slope in degrees

    Horizontal_Distance_To_Hydrology / quantitative / meters / Horz Dist to nearest surface water features

    Vertical_Distance_To_Hydrology / quantitative / meters / Vert Dist to nearest surface water features

    Horizontal_Distance_To_Roadways / quantitative / meters / Horz Dist to nearest roadway

    Hillshade_9am / quantitative / 0 to 255 index / Hillshade index at 9am, summer solstice

    Hillshade_Noon / quantitative / 0 to 255 index / Hillshade index at noon, summer soltice

    Hillshade_3pm / quantitative / 0 to 255 index / Hillshade index at 3pm, summer solstice

    Horizontal_Distance_To_Fire_Points / quantitative / meters / Horz Dist to nearest wildfire ignition points

    Wilderness_Area (4 binary columns) / qualitative / 0 (absence) or 1 (presence) / Wilderness area designation

    Soil_Type (40 binary columns) / qualitative / 0 (absence) or 1 (presence) / Soil Type designation

    Cover_Type (7 types) / integer / 1 to 7 / Forest Cover Type designation

In [41]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import sklearn

In [51]:
df = pd.read_csv('covType_quarter.csv')

In [43]:
df.shape

(145252, 55)

In [44]:
df.head()

,2596,51,3,258,0,510,221,232,148,6279,...,0.34,0.35,0.36,0.37,0.38,0.39,0.40,0.41,0.42,5
0,2590,56,2,212,-6,390,220,235,151,6225,...,0,0,0,0,0,0,0,0,0,5
1,2804,139,9,268,65,3180,234,238,135,6121,...,0,0,0,0,0,0,0,0,0,2
2,2785,155,18,242,118,3090,238,238,122,6211,...,0,0,0,0,0,0,0,0,0,2
3,2595,45,2,153,-1,391,220,234,150,6172,...,0,0,0,0,0,0,0,0,0,5
4,2579,132,6,300,-15,67,230,237,140,6031,...,0,0,0,0,0,0,0,0,0,2

In [45]:
df.columns

Index(['2596', '51', '3', '258', '0', '510', '221', '232', '148', '6279', '1',
       '0.1', '0.2', '0.3', '0.4', '0.5', '0.6', '0.7', '0.8', '0.9', '0.10',
       '0.11', '0.12', '0.13', '0.14', '0.15', '0.16', '0.17', '0.18', '0.19',
       '0.20', '0.21', '0.22', '0.23', '0.24', '0.25', '0.26', '0.27', '0.28',
       '0.29', '0.30', '0.31', '1.1', '0.32', '0.33', '0.34', '0.35', '0.36',
       '0.37', '0.38', '0.39', '0.40', '0.41', '0.42', '5'],
      dtype='object')

In [46]:
cols = ['elevation', 'aspect', 'slope', 'horizontal_distance_to_hydrology', 
       'vertical_distance_to_hydrology', 'Horizontal_Distance_To_Roadways', 
       'Hillshade_9am', 'Hillshade_Noon', 'Hillshade_3pm', 'Horizontal_Distance_To_Fire_Points',
       'Wilderness_Area_1', 'Wilderness_Area_2', 'Wilderness_Area_3', 'Wilderness_Area_4', 
       'Soil_Type_1',
        'Soil_Type_2',
        'Soil_Type_3',
        'Soil_Type_4',
        'Soil_Type_5',
        'Soil_Type_6',
        'Soil_Type_7',
        'Soil_Type_8',
        'Soil_Type_9',
        'Soil_Type_10',
        'Soil_Type_11',
        'Soil_Type_12',
        'Soil_Type_13',
        'Soil_Type_14',
        'Soil_Type_15',
        'Soil_Type_16',
        'Soil_Type_17',
        'Soil_Type_18',
        'Soil_Type_19',
        'Soil_Type_20',
        'Soil_Type_21',
        'Soil_Type_22',
        'Soil_Type_23',
        'Soil_Type_24',
        'Soil_Type_25',
        'Soil_Type_26',
        'Soil_Type_27',
        'Soil_Type_28',
        'Soil_Type_29',
        'Soil_Type_30',
        'Soil_Type_31',
        'Soil_Type_32',
        'Soil_Type_33',
        'Soil_Type_34',
        'Soil_Type_35',
        'Soil_Type_36',
        'Soil_Type_37',
        'Soil_Type_38',
        'Soil_Type_39',
        'Soil_Type_40', 
       'Cover_Type']

In [47]:
df.columns = cols
df.head()

,elevation,aspect,slope,horizontal_distance_to_hydrology,vertical_distance_to_hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,...,Soil_Type_32,Soil_Type_33,Soil_Type_34,Soil_Type_35,Soil_Type_36,Soil_Type_37,Soil_Type_38,Soil_Type_39,Soil_Type_40,Cover_Type
0,2590,56,2,212,-6,390,220,235,151,6225,...,0,0,0,0,0,0,0,0,0,5
1,2804,139,9,268,65,3180,234,238,135,6121,...,0,0,0,0,0,0,0,0,0,2
2,2785,155,18,242,118,3090,238,238,122,6211,...,0,0,0,0,0,0,0,0,0,2
3,2595,45,2,153,-1,391,220,234,150,6172,...,0,0,0,0,0,0,0,0,0,5
4,2579,132,6,300,-15,67,230,237,140,6031,...,0,0,0,0,0,0,0,0,0,2

In [48]:
soil_cols = ['Soil_Type_1',
        'Soil_Type_2',
        'Soil_Type_3',
        'Soil_Type_4',
        'Soil_Type_5',
        'Soil_Type_6',
        'Soil_Type_7',
        'Soil_Type_8',
        'Soil_Type_9',
        'Soil_Type_10',
        'Soil_Type_11',
        'Soil_Type_12',
        'Soil_Type_13',
        'Soil_Type_14',
        'Soil_Type_15',
        'Soil_Type_16',
        'Soil_Type_17',
        'Soil_Type_18',
        'Soil_Type_19',
        'Soil_Type_20',
        'Soil_Type_21',
        'Soil_Type_22',
        'Soil_Type_23',
        'Soil_Type_24',
        'Soil_Type_25',
        'Soil_Type_26',
        'Soil_Type_27',
        'Soil_Type_28',
        'Soil_Type_29',
        'Soil_Type_30',
        'Soil_Type_31',
        'Soil_Type_32',
        'Soil_Type_33',
        'Soil_Type_34',
        'Soil_Type_35',
        'Soil_Type_36',
        'Soil_Type_37',
        'Soil_Type_38',
        'Soil_Type_39',
        'Soil_Type_40']

In [49]:
df[soil_cols].head()

,Soil_Type_1,Soil_Type_2,Soil_Type_3,Soil_Type_4,Soil_Type_5,Soil_Type_6,Soil_Type_7,Soil_Type_8,Soil_Type_9,Soil_Type_10,...,Soil_Type_31,Soil_Type_32,Soil_Type_33,Soil_Type_34,Soil_Type_35,Soil_Type_36,Soil_Type_37,Soil_Type_38,Soil_Type_39,Soil_Type_40
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [50]:
df.iloc[0]

elevation                             2590
aspect                                  56
slope                                    2
horizontal_distance_to_hydrology       212
vertical_distance_to_hydrology          -6
Horizontal_Distance_To_Roadways        390
Hillshade_9am                          220
Hillshade_Noon                         235
Hillshade_3pm                          151
Horizontal_Distance_To_Fire_Points    6225
Wilderness_Area_1                        1
Wilderness_Area_2                        0
Wilderness_Area_3                        0
Wilderness_Area_4                        0
Soil_Type_1                              0
Soil_Type_2                              0
Soil_Type_3                              0
Soil_Type_4                              0
Soil_Type_5                              0
Soil_Type_6                              0
Soil_Type_7                              0
Soil_Type_8                              0
Soil_Type_9                              0
Soil_Type_10                             0
Soil_Type_11                             0
Soil_Type_12                             0
Soil_Type_13                             0
Soil_Type_14                             0
Soil_Type_15                             0
Soil_Type_16                             0
Soil_Type_17                             0
Soil_Type_18                             0
Soil_Type_19                             0
Soil_Type_20                             0
Soil_Type_21                             0
Soil_Type_22                             0
Soil_Type_23                             0
Soil_Type_24                             0
Soil_Type_25                             0
Soil_Type_26                             0
Soil_Type_27                             0
Soil_Type_28                             0
Soil_Type_29                             1
Soil_Type_30                             0
Soil_Type_31                             0
Soil_Type_32                             0
Soil_Type_33                             0
Soil_Type_34                             0
Soil_Type_35                             0
Soil_Type_36                             0
Soil_Type_37                             0
Soil_Type_38                             0
Soil_Type_39                             0
Soil_Type_40                             0
Cover_Type                               5
Name: 0, dtype: int64